a:hover {
    border-bottom-style: none;
}

.alert .field__label,
.alert .field__item {
    color: #000;
}

body{
    background: #292929!important;
}

.field--type-entity-reference .field__label {
    font-size: unset;
    font-weight: bold
}
